main {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* APP CONTAINER */

.appContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* CONTROLS */

.appContainer__controls {
    border: 1px solid black;
    margin: .5rem;
    margin-bottom: 0;
}

/* CONTROLS */



.appContainer__controls {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controls > input {
    width: 100%;
}

.fa-solid {
    display: block;
    font-size: 2rem;
}



/* DISPLAY */

.appContainer__gridDisplay {
    border: 1px solid black;
    margin: .5rem;
    width: 500px;
    height: 500px;
}

.gridElement {
    box-sizing: content-box;
    border: 1px solid #b2b1b11d;
}
